.main {
    position: relative;
    padding: 20px 150px;
    background-color: #081b27;
    overflow: hidden;
    &__header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        &-title {
            text-transform: uppercase;
            font-size: 2.4rem;
            font-weight: 500;
            color: $headingColor;
            text-shadow: 0px 0px 1.5px $headingColor;
        }
    }
    &__options {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &-select {
            font-size: 1rem;
            color: #3b4b57;
            padding: 13px 30px;
            margin-left: 20px;
            background: #0c2738;
            border-radius: 50px;
            cursor: pointer;
            &:hover {
                color: $textColor;
            }
            &.active {
                background-color: $textColor;
                &:hover {
                    color: #3b4b57;
                }
            }
        }
    }
    &__cartegory {
        position: relative;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        /* overflow: hidden; */
    }
    &__moveList {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 0 20px;
    }
    &__item {
        position: relative;
        width: 200px;
        cursor: pointer;
        transition: all.2s linear;
        &:hover {
            transform: translateY(-4px);
        }
        &-img {
            width: 100%;
            height: 350px;

            flex-shrink: 0;
            & img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        &-desc {
            flex: 1;
            position: relative;
            padding: 15px 3px;
            display: flex;
            align-items: center;
            /*  justify-content: f; */
            flex-direction: column;
        }
        &-title {
            color: $textColor;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            text-shadow: 0 0 1px $textColor;
            text-transform: capitalize;
            margin-bottom: 7px;
            flex: 1;
            &:hover {
                text-decoration: underline;
            }
        }
        &-type {
            text-align: center;
            color: $headingColor;
            & span {
                padding-left: 7px;
                color: #cad3da;
                text-transform: capitalize;
                text-decoration: underline;
                &:hover {
                    color: $textColor;
                }
            }
        }
        &-label {
            position: absolute;
            top: 5px;
            left: 0;
            background: $labelColor;
            color: $textColor;
            padding: 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            /* &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0px;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: inherit;
                transform: rotate(45deg) translateY(-65%);
                z-index: -1;
            } */
        }
    }
    &__hotList {
        position: relative;
        padding: 0 10px;
        &-heading {
            text-transform: uppercase;
            text-shadow: 0 0 1px $headingColor;
            font-size: 1.4rem;
            font-weight: 600;
            color: $headingColor;
            margin-bottom: 25px;
        }
        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            transition: all 0.2s linear;
            &:hover {
                transform: translateX(4px);
            }
        }
        /* &-category {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        } */
        &-img {
            width: 100px;
            margin-right: 20px;
            cursor: pointer;
            & img {
                width: 100px;
                height: 120px;
                flex-shrink: 0;
                border-radius: 4px;
            }
        }
        &-title {
            cursor: pointer;
            font-size: 1rem;
            color: $textColor;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        padding: 10px;
        &__header {
            &-title {
                margin-bottom: 20px;
            }
        }
        &__cartegory {
            justify-content: center;
        }
        &__hotList {
            display: none;
        }
        &__item {
            width: 230px;
        }
    }
    @media screen and (max-width: 768px) {
        padding: 10px;
        &__header {
            flex-direction: column;
            &-title {
                margin-bottom: 20px;
            }
        }
        &__cartegory {
            justify-content: center;
        }
        &__moveList {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            padding: 0;
        }
        &__hotList {
            display: none;
        }
        &__item {
            width: 230px;
        }
    }
    @media screen and (max-width: 480px) {
        padding: 0px;
        &__header {
            flex-direction: column;
            padding: 20px 0;
            &-title {
                margin-bottom: 20px;
                font-size: 1.4rem;
            }
        }
        &__cartegory {
            justify-content: center;
            overflow: hidden;
        }
        &__moveList {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 0;
        }
        &__hotList {
            display: none;
        }
        &__item {
            width: 190px;
            &-img {
                height: 270px;
            }
            &-title {
                font-size: 1rem;
            }
            &-type {
                font-size: 0.9rem;
            }
            &-label span {
                font-size: 0.9rem;
            }
        }
    }
}
